version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: 'deps'
    cooldown:
      default-days: 7
    groups:
      actions:
        applies-to: version-updates
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: 'deps'
    ignore:
      - dependency-name: '@types/node'
        update-types: [version-update:semver-major]
    cooldown:
      default-days: 7
    groups:
      npm:
        applies-to: version-updates
        update-types:
          - minor
          - patch
