*.beam
*.ez
*.log*
*.tgz
*.tsbuildinfo
.DS_Store
.kiro/
.node_repl_history
.npm
.vscode/
/build
/gen
__tests__/runner/*
coverage/
data.json
erl_crash.dump
lib/
logs/
node_modules/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
api.github.com.min.yaml
api.github.com.yaml
fixture.json
